<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelTestSuite">
<listeners>
        <listener class-name="practise.RetryListener"/>
    </listeners>
    <test name="ChromeTest">
        <classes>
            <class name="practise.StringPractise"/>
        </classes>
    </test>
</suite>